<!doctype html>
<html>
  <head>
    <%= render_partial "head" %>
    <%= render_partial "analytics" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="non-footer">
      <%= render_partial "navbar" %>
      <%= yield %>
    </div>

    <div class="footer">
      <%= render_partial "footer" %>
    </div>
    <%= render_partial "foot" %>
  </body>
</html>
